$include /etc/inputrc

# Disable bracketed paste.
set enable-bracketed-paste off

set editing-mode vi

$if mode=vi

# Show command and insert mode.
set show-mode-in-prompt on
# Customize the show-mode by changing the cursor shape.
# Block shaped cursor in command mode and pipe cursor in insert mode.
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif

set keymap vi-command
# These are for vi-command mode.
Control-l: clear-screen
Control-a: beginning-of-line

set keymap vi-insert
# These are for vi-insert mode.
Control-l: clear-screen
Control-a: beginning-of-line

$endif

# Color files by types.
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type.
set visible-stats On
# Mark symlinked directories.
set mark-symlinked-directories On
# Color the common prefix.
set colored-completion-prefix On
# Color the common prefix in menu-complete.
set menu-complete-display-prefix On